/* man hinh tu may tinh bang tro len width >= 768px */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  * {
    box-sizing: border-box;
  }
  
  .banner-text {
  
    color: rgb(53, 48, 48);
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
   
  }
  #nav_bar .menu a,
  i {
    text-decoration: none;
    color: rgb(37, 66, 230);
  }

  .button1 {
    border: 2px solid rgb(223, 215, 217);
    vertical-align: text-top;
    padding-bottom: 30px;
    padding: 0 50px;
    padding-top: 30px;
    text-transform: none;
    font-size: 15px;
  }

  .button2 {
    border: 2px solid rgb(223, 215, 217);
    vertical-align: text-top;
    padding-bottom: 30px;
    padding: 0 50px;
    padding-top: 30px;
    text-transform: none;
    font-size: 15px;
  }

  .button4 {
    border: 2px solid rgb(223, 215, 217);
    vertical-align: text-top;
    padding-bottom: 30px;
    padding: 0 60px;
    padding-top: 30px;
    text-transform: none;
    font-size: 15px;
  }

  .button5 {
    border: 2px solid rgb(223, 215, 217);
    vertical-align: text-top;
    padding-bottom: 30px;
    padding: 0 60px;
    padding-top: 30px;
    text-transform: none;
    font-size: 15px;
  }

  .avatar {
    display: none;
    border: 2px solid rgb(223, 215, 217);
    vertical-align: text-top;
    padding-bottom: 30px;
    padding: 0 60px;
    padding-top: 30px;
    width: 200px;
    height: 200px;
    top: -90px;
    right: 43.5%;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgb(233 230 230);
    overflow: hidden;
  }
  

  #nav_bar .menu {
    display: flex;

   
  }

  /* thông tin và mục tiêu */
  .title {
    padding-right: 10px;
    font-weight: bold;
    margin-left: 50px;
  }

  #info .title {
    padding-right: 10px;
    padding-left: 10px;
    align-items: start;
  }

  #tag .title {
    padding-top: 15px;
  }

  .content {
    position: relative;
    padding-left: 50px;
    padding-right: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #tag .content {
    line-height: 2;
  }

  #info .content {
  }

  #tag {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-right: 10px;
    width: 50%;
    height: 100%;
  }

  #info {
    background-color: rgb(223, 218, 218);
    margin-left: 00px;
    width: 50%;
    padding-top: 35px;
  }

  .in4 {
    letter-spacing: 15px;
  }

  .form {
    white-space: normal;
    text-transform: none;
  }

  .tag-in4 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: end;
    align-content: center;
  }
  .hide {
    display: none;
  }
  /* phần mô tả bản thân  */

  .nvv-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    place-content: stretch;
    place-items: stretch;
    gap: 20px 10px;
    padding: 50px 50px;
  }

  .nvv-section {
    border: 2px solid rgb(202, 184, 184);
    padding-left: 20px;
    padding-right: 20px;
  }

  /* phần kinh nghiệm */
  span {
    background-color: aqua;
    border-radius: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: aliceblue;
  }

  .nvv-section #exper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0px;
    border: 1px solid rgb(190, 183, 183);
  }

  .section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .section-title i {
    padding-left: 100px;
    font-size: 50px;
    color: rgb(233, 221, 221);
  }

  ul {
    font-size: 20px;
  }

  ul li::marker {
    color: blue;
    font-size: 20px;
    margin-right: 10px;
  }

  /* phần học vấn*/

  .nvv-section #edu {
    padding-bottom: 250px;
  }

  /* phần hoạt động */
  #exper .content,
  #edu .content,
  #activ .content {
    padding-left: 10px;
    line-height: 1.5;
  }
  /* phần sở thích */

  .h-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    place-content: center;
    place-items: center;
    gap: 0px 15px;
  }
  .h-content i {
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 20%;
    border-radius: 50%;
    font-size: 30px;
    border: 2px solid blue;
  }
  .h-content p {
    font-size: 12px;
  }

  /* phần ngôn ngữ */
  #lang .content,
  #skill .content,
  .h-content {
    padding-left: 30px;
    line-height: 3;
  }

  .lever {
    display: flex;
    gap: 3px;
  }

  .lever-1 .l1 {
    display: block;
    border: 0.5px solid rgb(215, 205, 205);
    width: 45px;
    height: 3px;
    background-color: rgba(37, 10, 240, 0.916);
  }

  .lever-0 .l0 {
    display: block;
    border: 0.5px solid rgb(215, 205, 205);
    width: 45px;
    height: 3px;
    background-color: rgb(215, 205, 205);
  }

  /* phần chứng chỉ giải thưởng*/

  #certi {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
  }

  #certi .content {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    place-content: stretch;
    place-items: stretch;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(188, 196, 203, 0.937);
  }

  #certi .section-title {
    padding-left: 100px;
    background-color: rgba(188, 196, 203, 0.937);
  }

  .certi {
    display: flex;
    flex-direction: column;
    place-content: stretch;
    place-items: stretch;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 10px;
    border-bottom: 2px solid rgba(233, 197, 69, 0.867);
    border-right: 2px solid rgba(233, 197, 69, 0.867);
  }

  .content > div:last-child {
    border-bottom: none;
    border-right: none;
  }

  .content > div:nth-child(2) {
    border-right: none;
  }
  .certi img {
    width: 100%;
    height: 200px;
  }

  .c-content {
    padding-left: 10px;
  }

  /* phần dự án */

  #projec .section-title {
    padding-left: 100px;
  }

  .pro {
    display: grid;
    grid-template-columns: repeat(3, minmax(60px, 1fr));
    grid-template-rows: 1fr;
    gap: 0 30px;
    place-items: stretch;
    place-content: stretch;
    place-self: stretch;
    padding: 0px 100px;
  }

  .job1,
  .job2,
  .job3 {
    flex: column;
    place-content: stretch;
    place-items: stretch;
  }

  .pic1,
  .pic2,
  .pic3 {
    background-size: cover;
    background-repeat: repeat;
    display: inline-block;
    width: 100%;
    height: 500px;
  }

  .p-title {
    height: 50px;
    border: 2px solid black;
  }

  .p-menu {
    display: flex;
    flex-wrap: wrap;
    place-content: stretch;
    place-items: stretch;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    gap: 20px;
  }

  .table {
    display: flex;
    flex-direction: column;
    place-content: stretch;
    place-items: stretch;
  }

  .row {
    display: flex;
    flex-direction: row;
    place-content: stretch;
    place-items: stretch;
    place-self: stretch;
    padding-left: 10px;
    flex: 1;
  }

  .column-1 {
    width: 30%;
    height: 100%;
  }

  .column-2 {
    width: 70%;
    height: 100%;
  }
  #end ul {
    width: 100%;
    height: 100px;
    background-color: rgba(101, 109, 109, 0.67);
    display: flex;
    place-content: center;
    place-items: center;
    place-self: center;
    gap: 200px;
  }

  #end ul li {
    display: flex;
    gap: 20px;
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    color: none;
    font-size: 35px;
    align-self: center;
    padding-top: 7px;
    padding-left: 11px;
  }
  #end ul li:link {
    color: rgb(34, 51, 82);
  }

  #end ul li:visited {
    color: rgb(189, 121, 175);
  }
  #end ul li:hover {
    font-size: 50px;
    background-color: aqua;
    color: blue;
  }
  #end ul li:active {
    color: rgb(100, 237, 152);
  }
}
